<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body background="Imagenes\1.jpg">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa d-inline fa-lg fa-envelope-o"></i> Invitaciones <span class="badge badge-secondary ml-1">New!</span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Invitacion de Usuario 1 </a>
            <a class="btn btn-primary pi-draggable" href="#" draggable="true" id="c_button">Aceptar </a>
            <a id="c_button" class="btn btn-primary pi-draggable" href="#" draggable="true">Rechazar </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Invitacion de Usuario 2 </a>
            <a id="c_button" class="btn btn-primary pi-draggable" href="#" draggable="true">Aceptar </a>
            <a id="c_button" class="btn btn-primary pi-draggable" href="#" draggable="true">Rechazar </a>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa d-inline fa-lg fa-user-circle-o"></i> Usuario </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Dinero : S/. 500.00</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
            <a class="btn btn-outline-primary pi-draggable text-center" href="home.html" draggable="true" id="c_button-outline">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-white">Equipo Ideal</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            <h1 class="text-center text-white">Jugando en sala de Usuario</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-light text-dark text-center">
          <table class="table">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>EQUIPO</td>
                <td>PUNTAJE</td>
              </tr>
              <tr></tr>
              <tr>
                <td>USUARIO</td>
                <td>0</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a class="btn btn-primary" href="#">SALIR </a>
                </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>